<div class="body--container">
    <div *ngFor='let toDoList of toDoLists'>
        <app-toDoList (notifyToDoListDeleted)='onNotify($event)' [toDoList]='toDoList'></app-toDoList>
    </div>
    <mat-card class="margin">
        <mat-card-title>
            Add new list :
        </mat-card-title>
        <mat-card-content>
            <form class="example-form" (ngSubmit)='addToDoList(toDoListName)'>
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Ex. Beer to drink" [(ngModel)]="toDoListName" name="taskNameInput">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>

</div>