.title {
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
    display: flex;
    position: relative;
}

.body--container {
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 211, 243);
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.margin {
    margin: 10px;
}