<mat-card class="example-card">

    <mat-card-title> {{toDoList.name}}</mat-card-title>
    <mat-card-content>
        <div *ngIf="toDoList.tasks.length>0">
            <mat-selection-list *ngFor="let task of toDoList.tasks">
                <mat-list-option>
                    {{task.description}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div *ngIf="toDoList.tasks.length==0">No tasks yet</div>
        <form class="example-form" (ngSubmit)='addToDoListTask(toDoList.id,taskDescription)'>
            <mat-form-field class="example-full-width">
                <mat-label>Add a task</mat-label>
                <input matInput placeholder="Ex. Clean my room" [(ngModel)]="taskDescription" name="taskDescriptionInput">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="button-container">
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon (click)="changeFavorite()">{{favoritePressed?"favorite":"favorite_outlined"}}</mat-icon>
              </button>
            <button mat-icon-button class="button--delete" color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </mat-card-actions>
</mat-card>